KUCOIN_TELEGRAM_BOT_TOKEN=
KUCOIN_TELEGRAM_CHAT_ID=
KUCOIN_CHECK_SECRET=
KUCOIN_UPSTASH_REDIS_REST_URL=
KUCOIN_UPSTASH_REDIS_REST_TOKEN=
KUCOIN_COINGECKO_DEMO_API_KEY=
KUCOIN_VERCEL_CHECK_URL=
KUCOIN_STATE_TTL_SECONDS=2592000
